header, h1,h2,h3,h4,h5,h6 {
  font-family: 'Philosopher', sans-serif;
}
.navbar {
   background: #4E6C50! important;
}

.navbar-brand {
  width: 5.5rem;
}

main{
  margin: 5rem;
  margin-left: 3%;
}
.centre {
    text-align: center;
}

i {
    margin-left: 650px;
}

.tour {
  background: #fff url(../Images/tour_babel2.png) center center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

}

.boite {
  display:flex;
  justify-content: space-between;
}

.ouvrier{
  height: 10vh;
  width: 10vw;
  margin-bottom: 10%;
  margin-left: 33%;
}
 
}
.row-center {
  flex-flow: row nowrap;
  justify-content:space-between;
  align-items:center;
  margin-top: 18%;
}

.mockup_jeu {
  width: 30rem;
  padding: 10%;
  margin-top:10%;
}

.head-logo {
  width: 100vh;
  text-align: center;
}

#header-title h4 {
  color: #fff;
  font-size: 250%;
}

#clickMe {
  color:white;
  background-color: #4E6C50;
  font-weight:bold;
  padding:10px;
}

.encadres {
  background-color: #4E6C50;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 2rem;
}
body{
  background: #c7d8c4;
}

.quick-presentation{
  margin-left: 10%;
  margin-right: 10%;
  margin-top:10%;
}

.logos{
  height: 10vh;
  width: 10vw;
  margin-bottom: 10%;
  margin-left: 44%;
}

.contact{
  text-align: center;
  margin-top: 10%;
}

footer{
  background: #4E6C50! important;
  padding: 1rem 0 0.5rem;
  text-align: center;
  
}
