header, h1,h2,h3,h4,h5,h6 {
  font-family: 'Philosopher', sans-serif;
}
.navbar {
   background: #4E6C50! important;
}

.navbar-brand {
  width: 5.5rem;
}
.navbar-brand:hover{
  transition: 2ms;
  transition:ease-in-out;
  /*Faire une transition du logo Archibel noir vers logo Archibel Blanc en hover ?*/
}

main{
  margin: 5rem;
  margin-left: 3%;
}
.centre {
    text-align: center;
}


i {
    margin-left: 650px;
}

  /* --- HEADER --- */
/*header{
  background: url(../Images/ouvriers.png); center center no repeat
}*/
.tour {
  background: #fff url(../Images/tour_babel2.png) center center no-repeat;
  background-size: cover;

  height: 100vh;
  width: 100vw;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  
  /* A refaire
  max-width: 2000px;
  max-height: 961px;
  min-width: 800px;
  min-height: 1050px;
  */
}

.flex1 {
  display:flex;
  justify-content: space-between;
}

.row-center {
  flex-flow: row nowrap;
  justify-content:space-between;
  align-items:center;
  margin-top: 18%;
}

.mockup_jeu {
  width: 30rem;
  padding: 10%;
  margin-top:10%;
}

.head-logo {
  width: 100vh;
  text-align: center;
}

#header-title h4 {
  color: #fff;
  font-size: 250%;
}
.encadres {
  background-color: #4E6C50;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 2rem;
}
body{
  background: #c7d8c4;
}

.quick-presentation{
  margin-left: 10%;
  margin-right: 10%;
  margin-top:10%;
}
