.navbar {
    background: #27f5b7! important;
}
main{
    text-align: left;
    margin-left: 2.5%;
    margin-bottom: 5%;
    margin-top: 3%;
}
#p1 {
    text-align: center;
}
header, h1,h2,h3 {
    font-family: 'Philosopher', sans-serif;
}



 

 